@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .hamb-inner {
    width: 25px;
    height: 2px;
    background-color: var(--dark100);
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
  }

  .hamb-inner-bef {
    content: "";
    display: block;
    top: -7px;
  }

  .hamb-inner-aft {
    content: "";
    display: block;
    bottom: -7px;
  }
}

:root {
  --primaryPink: #f67acb;
  --primaryDarkPink: #cf62a9;
  --primaryDarkerPink: #9d457f;
  --dark100: #f5f6fa;
  --dark200: #dfe1e8;
  --dark300: #c0c3cc;
  --dark400: #abafba;
  --dark500: #979ba6;
  --dark600: #787c87;
  --dark700: #5c5f69;
  --dark800: #393b42;
  --dark900: #0a0b0d;
}

* {
  font-family: var(--font-inter);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-sora);
  color: var(--dark100);
  line-height: 120%;
}

p {
  line-height: 150%;
  color: var(--dark600);
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: #CF62A9;
  border-radius: 20px;
  border: 3px solid #000205;
}

.hamb--squeeze .hamb-inner::before {
  transition:
    top 0.075s 0.12s ease,
    opacity 0.075s ease;
}
.hamb--squeeze .hamb-inner::after {
  transition:
    bottom 0.075s 0.12s ease,
    transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamb--squeeze.is-active .hamb-inner {
  transform: rotate(45deg);
  transition-delay: 0.1s;
}
.hamb--squeeze.is-active .hamb-inner::before {
  top: 0;
  opacity: 0;
  transition:
    top 0.075s ease,
    opacity 0.075s 0.12s ease;
}
.hamb--squeeze.is-active .hamb-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
  transition:
    bottom 0.075s ease,
    transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}
